#file-upload-container img {
  width: 500px;
  height: 500px;
  object-fit: contain;
}
#file-upload-container .progress-bar {
  height: 20px;
  width: 0%;
  background-color: rgb(39 103 5.17777778%);
  color: white;
  padding: 9px;
  transition: width 0.7s ease 0s !important;
}
#file-upload-container .file-upload {
  box-shadow: 2px 2px 2px 2px #ccc;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1rem;
}
#file-upload-container input,
#file-upload-container div,
#file-upload-container button {
  margin-top: 2rem;
}
#file-upload-container .upbutton {
  width: fit-content;
  background-color: #2767e9;
  color: aliceblue;
  font-size: 1rem;
  cursor: pointer;
}
