#file-upload-container {
  height: 100%;
  width: 100%;

    .file-upload {
      height: 100%;
      width: 100%;

        .progress-bar{

          transition: width 1.5s ease 1.5s !important;
        }

    #inner-drop-zone {
        height: 100%;
        width: 100%;
        text-align: center;
        margin-bottom: 15px;
      
      p {
        width: 100%;
        height: 100%;
        border-style: dotted;
        cursor: pointer;

        &:hover { 
          .with-img {
            opacity: 1;
            z-index: 1;
          }
        }

        .inner-inner-drop-zone {
          margin: 0 auto;
          position: absolute;
          top: 30% !important;
          left: 15% !important;

          &.with-img{
            opacity: 0;
            z-index: 1000;
          }

          i {
            font-size: 6rem;
            position: relative;
          }
          
          span {
            position: relative;
          }        
          
        .uploaded-img {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 0;

            img {
              margin: 29px auto;
              max-width: 82%;
              max-height: 85%;
              z-index: 0;
            }
        }
      }
    }
  }
}