DirectoryIndex disabled
RewriteEngine On
RewriteRule ^$ http://127.0.0.1:34296/ [P,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ http://127.0.0.1:34296/$1 [P,L]